{
  "image_configuration": {
    "dither_algorithm": "0",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "IntFlashSection",
    "extra_section": "IntFlashSection",
    "images": {
      "__designer\\Blue_Gauges_original_gauge_background_style_00.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection",
        "format": "RGB565"
      },
      "__designer\\Blue_Needles_original_gauge_needle_style_00.png": {
        "section": "IntFlashSection",
        "extra_section": "IntFlashSection",
        "format": "RGB565"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}